<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Skranji" rel="stylesheet">
    <title>EAT-DA-BURGER</title>
</head>

<body>
    <div class="container">
        {{{ body }}}
    </div>

</body>

</html>